.tableProducts {
  margin-top: 50px;
}

.tableProducts thead {
  color:#0275d8;
}

.tableProducts tbody {
  font-style: italic;
}

.tableProducts td {
  border-color: #0275d8 !important;
}

.navbar {
  background-color: #0275d8 !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

.card {
  margin-top: 50px;
  border-bottom: 3px solid #0275d8 !important;
}

.card-title {
  font-style: italic;
}

.cardButton {
  background-color: white !important;
  color: #0275d8 !important;
  border: 1px solid #0275d8 !important;
  float: right;
}

.cardButtonCart {
  background-color: white !important;
  color: #0275d8 !important;
  border: 1px solid #0275d8 !important;
  float: left;
}

.card-img-top {
  height: 169px !important;
}

.cart{
  color:white;
  font-size: 28px;
}

.form-body{
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 50px;
}

.status{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: red;
}